body {
  background-color:pink; 
}
h1 {
  text-align: center;
}
button{
  cursor:pointer;
  front-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: aliceblue;
padding-left:2%;
padding-right: 2%; /* i wanted to add to the button on both sides a 
little space inside the button with the padding*/
margin-left:5% /*to get the button away from the text */
}

.pix{
  text-align: center; /*it made the whole thing go to the center*/ 
}