body {
  background-color:pink; 
}
h1 {
  text-align: center; /*makes the pixie title centered*/
color:#6d8aa4;


}

h1,.shadows-into-light-two-regular {  /*this works with h1, grouping it together , using googlefont for title*/
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}


button{ /*todo button*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(254, 255, 255); /*makes the button inside white*/
padding-left:2%;
padding-right: 2%; /* i wanted to add to the button on both sides a 
little space inside the button with the padding*/
margin-left:5%; /*to get the button away from the text */
border: 3px solid #b9d7f2;
border-radius:25%;
color:#6d8aa4; /*to change the font color inside*/


}

.pix{/*the entire tasks list with button (the whole application)*/
  text-align: center; /*it made the whole thing go to the center*/ 
  margin: auto;
  max-width: 500px; /* prevents it from strreching across the screen */
}

.task{ /*the list of task */
  background: white;
  margin: auto;
  padding: 5%; /*spaces the tasks from one an another*/
 border-style:groove;
border-radius: 25%;
border: 3px solid #b9d7f2;} /*google helping with the HEX colors*/

input{ /*the 'add quest' box*/
  padding: 10px;
  margin: 10px;
  border: 3px solid #b9d7f2;
border-radius: 10%;}

.falling-container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none; /*allows clicks through emojis*/
overflow:hidden;
}
.falling{
  position:absolute ;
  animation: fall 15s linear infinite; /*that way it can repeat and make it slower*/
}

.falling:nth-child(1) {/*selects the first .falling elemnt,
 inside the parent since its all about the same coding that,
  i would have to writw for each .falling child if that makes sense*/
left: 10%;
}
.falling:nth-child(2){ /*second emoji inside the parent "falling-container" and inside the child .falling*/
  left:20%;
}
.falling:nth-child(3){
left:25%;
animation-duration: 13s; /*that way it can be delayed away from the others*/
}
.falling:nth-child(4){
  left:70%;
}
.falling:nth-child(5){
  left:80%;
  animation-duration:13s ;
}
.falling:nth-child(6){
  left:90%;
}
@keyframes fall{ /*chatpt said without this , nothing moves*/
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
 opacity: 0; }
}